<div id="reply_template" class='reply_template' style='display:none;'>
  <%= form_for Comment.new, :remote => false do |f| %>
    <%= f.text_area :body, class: :reply_body %>
    <%= hidden_field_tag :commentable_id, nil %>
    <%= hidden_field_tag :commentable_type, nil %>
    <%= f.submit t('opinio.actions.add_reply'), disabled: :disabled %>
  <% end %>
</div>
