<% if current_user %>
  <h2>Enviar Comentário</h3>
  <%= form_for @comment, :remote => true do |f| %>
    <p>
      <%= f.label :message %>
      <%= f.text_area :message %>
    </p>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>
    <%= f.submit %>
  <% end %>
<% else %>
  <p>
    É necessário estar logado para comentar.
  </p>
<% end %>
